---
---
b {
  font-weight: bold;
}

.page-title {
  color:white;
  font-family: roboto;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.page-header {
  width:100%;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.page-sources {
  float:left;
  width:25%;
  text-align: left;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}
.page-quote {
  color:white;
  font-family: roboto;
  font-size: 14px; font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 15px;
  display: block;
}
.page-quoteauthor {
  color:white;
  font-family: roboto;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
}
.page-quoteauthor a{
  border-bottom: 1px solid transparent;
  transition: all 0.15s;
}
.page-quoteauthor a:hover{
  border-bottom: 1px solid;
  border-bottom-color: white;
}

.page-body {
  text-align: center;
  background: white;
  color: text; 
  display: block; 
  font-family: lora; 
  font-size: 14px; 
  font-weight: 400; 
  padding-top: 15px; 
  padding-bottom: 15px;
  overflow: auto;
}

.page-content {
  display: inline-block;
  text-align: left;
  width:75%;
  padding-left: 15px;
  padding-right: 15px;
}
.page-content p{
  -webkit-margin-before:1em;
  -webkit-margin-after: 1em;
}

.footnote{
  position: relative;
  top: -0.5em;
  font-size: 80%;
  color: salmon;
}
.listfootnote {
  margin-top:15px;
  display: inline-block;
}
.listfootnote:before{
  display: inline-block;
  color: salmon;
  content: "(" counter(citation) ")";
  counter-increment: citation;
  width: 1.5em;
}
.listfootnote a {
  border-bottom: 1px solid transparent;
  transition: all 0.15s;
}
.listfootnote a:hover{
  border-bottom: 1px solid;
  border-bottom-color: text;
}
.reversefootnote{
  display:none;
}
.footnotes{
  counter-reset: citation;
}